* {
    font-family: 'Noto Sans KR';
}

a {
    text-decoration: none;
}

.navTwo {
    background-color: #ffffff;
    border-bottom: 1px solid #BEBEBE;
    display: flex;
    height: 90px;
    justify-content: center;
    width: 100%;
}

.navTwo__container {
    align-items: center;
    display: flex;
    height: 100%;
    width: 1200px;
}

.navTwo__container__home {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 90px;
}

.navTwo__container>*:not(:last-child) {
    border-left: 1px solid #BEBEBE;
}

.navTwo__container>*:not(:first-child) {
    border-right: 1px solid #BEBEBE;
}

.navTwo__container__recruitment {
    align-items: center;
    display: flex;
    font-size: 22px;
    height: 100%;
    padding-left: 31px;
    width: 300px;
}

.navTwo__container__list {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 100%;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    width: 350px;
}

.navTwo__li {
    background-color: #ffffff;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    height: 212px;
    left: -1px;
    opacity: 0;
    position: absolute;
    top: 90px;
    width: 351px;
    z-index: -1;
}

.navTwo__container__list:hover .navTwo__li {
    opacity: 1;
    transition-duration: .5s;
    visibility: visible;
    z-index: 1;
}

.li__box__column {
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    font-size: 18px;
    height: 70px;
    padding-left: 30px;
    transition: 0.2s;
    width: 100%;
}

.li__box__column a {
    color: #A1A1A1;
}

.navTwo__li__box .li__box__column:hover {
    background-color: #F0F0F0;
    transition: 0.2s;
}

.vitiality_title {
    margin: 50px auto;
    max-width: 1200px;
}

.vitiality_title span {
    background: #0C1E46;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 500;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 100%;
}

.vitiality_definition_wrapper {
    margin: 0 auto 50px;
    max-width: 1200px;
}

.schedule_title,
.definition_title {
    align-items: center;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.schedule_title img,
.definition_title img {
    margin-right: 15px;
    vertical-align: baseline;
}

.schedule_title span,
.definition_title span {
    font-size: 25px;
}

.definition p {
    font-size: 20px;
    line-height: 34px;
    padding: 0 25px;
}

.vitiality_schedule_wrapper {
    margin: 0 auto 50px;
    max-width: 1200px;
    position: relative;
}

.vitiality_schedule {
    border: 1px solid #BEBEBE;
}

.step_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.step_wrapper .step {
    align-items: baseline;
    display: flex;
    justify-content: start;
    margin-right: 50px;
}

.step_wrapper .step:nth-of-type(1) {
    width: 224px;
}

.step_wrapper .step:nth-of-type(2) {
    width: 352px;
}

.step_wrapper .step:nth-of-type(3) {}

.step_wrapper .step:last-child {
    margin-right: 0;
}

.step_wrapper .step span.num {
    color: #4466B2;
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}

.step_wrapper .step span {
    font-size: 20px;
    line-height: 34px;
    white-space: nowrap;
}

.schedule_card_wrapper {
    align-items: center;
    background: #F5F7FB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.schedule_card {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 50px;
    width: 499px;
}

.schedule_card img {
    margin-right: 50px;
}

.schedule_card p {
    font-size: 20px;
    line-height: 37px;
}

.schedule_btn_wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto 100px;
    max-width: 1200px;
}

.schedule_btn_wrapper div {
    height: 90px;
    width: 100%;
}

.schedule_btn_wrapper div:first-child {
    margin-right: 10px;
}

.schedule_btn_wrapper div:last-child {
    margin-left: 10px;
}

.schedule_btn_wrapper div button {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 90px;
    line-height: 90px;
    width: 100%;
}

.schedule_btn_wrapper div .process_btn {
    background: #4466B2;
}

.schedule_btn_wrapper div .list_btn {
    background: #012C8B;
}

@media ( max-width: 425px) {
    .vitiality_title {
        margin: 20px auto;
        max-width: 89%;
    }
    .vitiality_title span {
        font-size: 16px;
        height: 45px;
        line-height: 45px;
    }
    .navTwo__container {
        width: 100%;
    }
    .navTwo__container__home {
        display: none;
    }
    .navTwo {
        height: 35px;
    }
    .navTwo__container__recruitment {
        font-size: 11px;
    }
    .navTwo__container__list {
        font-size: 11px;
    }
    .navTwo__container__list img {
        height: 5px;
        width: 8px;
    }
    .navTwo__li {
        border-right: none;
        height: 92px;
        top: 35px;
        width: 100%;
    }
    .li__box__column {
        font-size: 10px;
        height: 30px;
    }
    .navTwo__container>*:not(:first-child),
    .navTwo__container>*:not(:last-child) {
        border: none;
    }
    .navTwo__container .navTwo__container__recruitment {
        border-right: 1px solid #BEBEBE;
    }
    .vitiality_definition_wrapper {
        max-width: 89%;
    }
    .schedule_title,
    .definition_title {
        margin-bottom: 10px;
    }
    .schedule_title span,
    .definition_title span {
        font-size: 15px;
    }
    .definition p {
        font-size: 13px;
        line-height: 21px;
        padding: 0 10px;
    }
    .vitiality_schedule_wrapper {
        max-width: 89%;
    }
    .step_wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 25px;
        margin-bottom: 0;
    }
    .step_wrapper .step {
        align-items: flex-start;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 100% !important;
    }
    .step_wrapper .step span.num {
        font-size: 20px;
        margin-right: 10px;
    }
    .step_wrapper .step span {
        font-size: 13px;
        line-height: 21px;
    }
    .schedule_card_wrapper {
        padding: 20px;
    }
    .schedule_card {
        display: block;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
        width: initial;
    }
    .schedule_card img {
        margin: 0;
        margin-bottom: 35px;
    }
    .schedule_card p {
        font-size: 13px;
        line-height: 21px;
    }
    .schedule_btn_wrapper {
        display: block;
        margin-bottom: 40px;
        max-width: 89%;
    }
    .schedule_btn_wrapper div {
        height: 50px;
        margin: 0 0 20px !important;
    }
    .schedule_btn_wrapper div button {
        font-size: 14px;
        height: 50px;
        line-height: 50px;
    }
}

@media ( max-width: 360px) {
    .vitiality_title {
        max-width: 320px;
    }
    .vitiality_definition_wrapper {
        max-width: 320px;
    }
    .vitiality_schedule_wrapper {
        max-width: 320px;
    }
    .schedule_btn_wrapper {
        max-width: 320px;
    }
}